<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Security Example</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


<nav class="navbar navbar-dark bg-dark py-0 my-0">
    <div class="container-fluid py-1 my-1">
        <p class="navbar-brand text-white py-0 my-0">
            <b><span id="bold-header">

            </span></b>
            <span>with roles:</span>
            <span id="header-roles">

            </span>
        </p>
        <form class="py-0 my-0" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary py-0 my-0">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid vh-100">
    <div class="row h-100" >

        <div class=" col-2">
            <div class=" nav flex-column nav-pills pt-4">
                <a class=" nav-link active" href="/admin" sec:authorize="hasAuthority('ROLE_ADMIN')">Admin</a>
                <a class=" nav-link" href="/user" sec:authorize="(hasAnyAuthority('ROLE_ADMIN','ROLE_USER'))">User</a>
            </div>
        </div>

        <div class="col-10 px-0 bg-light">
            <div class="container-fluid">
                <h1 class="m-3 fw-bold">Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab">

                        <a class="nav-link active"  data-bs-toggle="tab"
                                href="#allUsers">Users Table
                        </a>
                        <a class="nav-link" id="nav-new-tab" data-bs-toggle="tab"
                                href="#newUser">New User
                        </a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="allUsers">
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4 id="foo">All users</h4>
                                </div>
                            </div>
                            <div class="card-body" bg-primary text-white>
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usersTable">


                                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                         aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form class="form-container" id="editForm">
                                                    <div class="modal-body text-center">
                                                        <div class="form-group m-auto col-md-6">
                                                            <label for="EId" class="fs-5 fw-bold pb-0 pt-2">ID</label>
                                                            <input type="number" class="form-control" id="EId"
                                                                   readonly>
                                                            <label for="EFirstName"
                                                                   class="fs-5 fw-bold pb-0 pt-2">First name</label>
                                                            <input type="text" class="form-control" id="EFirstName"
                                                                   required>
                                                            <label for="ELastName"
                                                                   class="fs-5 fw-bold pb-0 pt-2">Last name</label>
                                                            <input type="text" class="form-control" id="ELastName"
                                                                   required>
                                                            <label for="EAge" class="fs-5 fw-bold pb-0 pt-2">Age</label>
                                                            <input type="number" class="form-control" id="EAge"
                                                                   required>
                                                            <label for="EUsername" class="fs-5 fw-bold pb-0 pt-2">Email</label>
                                                            <input type="text" class="form-control" id="EUsername"
                                                                   required>
                                                            <label for="EPassword"
                                                                   class="fs-5 fw-bold pb-0 pt-2">Password</label>
                                                            <input type="password" class="form-control" id="EPassword"
                                                                   required>
                                                            <label for="ERoles" class="fs-5 fw-bold pb-0 pt-2">Roles</label>
                                                            <select class="custom-select form-control" size="2"
                                                                    id="ERoles" multiple required>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn btn-primary"
                                                                aria-pressed="true">Edit
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal">

                                                    </button>
                                                </div>
                                                <form class="modal-body col-md text-center form-container">
                                                    <div class="modal-body col-md">

                                                        <label for="DId"><b>ID</b></label>
                                                        <input type="number" class="form-control" id="DId" readonly>
                                                        <br>
                                                        <label for="DFirstName"><b>First name</b></label>
                                                        <input ID="DFirstName" class="form-control" type="text" disabled/>
                                                        <br>
                                                        <label for="DLastName"><b>Last name</b></label>
                                                        <input id="DLastName" class="form-control" type="text" disabled/>
                                                        <br>
                                                        <label for="DAge"><b>Age</b></label>
                                                        <input id="DAge" class="form-control" type="number" disabled/>
                                                        <br>
                                                        <label for="DUsername"><b>Email</b></label>
                                                        <input id="DUsername" type="text" class="form-control" disabled/>
                                                        <br>
                                                        <label for="DRoles"><b>Roles</b></label>
                                                        <select multiple class="custom-select form-control form-control-sm"
                                                                id="DRoles" disabled size="2" readonly>
                                                        </select>
                                                        <br>

                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>



                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="newUser" role="tabpanel">
                        <div class="col-md bg-white border">
                            <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4">
                                <label><b>First name</b></label>
                                <input class="form-control" type="text" placeholder="First name" id="firstName"/>
                                <br>
                                <label><b>Last name</b></label>
                                <input class="form-control" placeholder="Last name" type="text" id="lastName"/>
                                <br>
                                <label><b>Age</b></label>
                                <input placeholder="Age" class="form-control" type="number" id="age"/>
                                <br>
                                <label><b>Email</b></label>
                                <input placeholder="Email" class="form-control" type="text" id="username"/>
                                <br>
                                <label><b>Password</b></label>
                                <input placeholder="Password" class="form-control" type="password" id="password"/>
                                <br>
                                <label><b>Roles</b></label>
                                <select class="form-control form-control-sm" id="roleOptions" multiple="multiple">

                                </select>
                                <br>

                                <button id="addNewUserButton" type="submit" class="btn btn-success btn-lg"
                                        value="Add new user">Add new user
                                </button>
                            </form>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
</section>

<script src="/js/admin.js"></script>

</body>
</html>