<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Security Example</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark py-0 my-0">
    <div class="container-fluid py-1 my-1">
        <p class="navbar-brand text-white py-0 my-0">
            <b>
                <span id = "bold-header">

                </span>
            </b>
            <span>with roles:</span>
            <span id = "header-roles">

            </span>
        </p>
        <form class="py-0 my-0" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary py-0 my-0">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid vh-100">
    <div class="row h-100" >

        <div class=" col-2">
            <div class=" nav flex-column nav-pills pt-4">
                <a class=" nav-link" href="/admin" sec:authorize="hasAuthority('ROLE_ADMIN')">Admin</a>
                <a class=" nav-link active" href="/user" sec:authorize="(hasAnyAuthority('ROLE_ADMIN','ROLE_USER'))">User</a>
            </div>
        </div>
        <div class="col-10 bg-light">
            <div class="tabs p-4">
                <h1>User information page</h1>
                <div class="pt-2 tab-content">
                    <div class="tab-pane fade show active" id="description">
                        <div class="p-3 border">
                            <h5 class="my-0 mx-2">User info</h5>
                        </div>
                        <div class="p-3 bg-white border border-top-0">
                            <table class="usersTable table table-striped bg-white">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<script src="/js/user.js"></script>

</body>
</html>